<%inherit file="base.htm" />

<%block name="content">
   <table class="manageTable">
       <tr>
           <td class="listCol">
              <h3><%block name="listTitle"></%block></h3>
               <div class="list">
                    <table class="listTable">
                        <%block name="list">

                         </%block>
                    </table>

                        <%block name="bottomList">

                         </%block>

                <div class="input-group" id="searchBar">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                  <input type="text" class="form-control" placeholder="Search for...">
                </div>
               </div>
           </td>
            <td class="spacer">&nbsp</td>
           <td class="crudCol">
                <div class="crudBox ">
                    <%block name="form">

                    </%block>
               </div>
           </td>
            <td class="spacer">&nbsp</td>
       </tr>
   </table>
</%block>